:root{
    --primary-color: #00A6FB; /*fresh sky*/
    --secondary-color: #9FFFCB; /*aquamarine*/
    --accent1-color: #FDCA40; /*golden pollen*/
    --accent2-color: #19535F; /*dark teal*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvectica, sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent1-color)
}
header, main, footer{
    width: 800px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color)
}
nav, p, section, article{
    margin: 16px;
    padding: 10px;
}
nav img{
    width: 100px;
    height: auto;
}
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .80;
    background-color: var(--accent1-color);
    color: #fff
}
.hero article{
    position: absolute;
    bottom: 20px;
    width: 750px;
    height: auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    opacity: 0.75;

}
.hero article img{
    float: right;
    width: 150px;
    height: auto;
}
h2{
    background-color: var(--accent1-color);
    padding: 12px;
    width: 100%;
    text-align: center;
}
.socialmedia img{
    width: 50px;
    height: auto;
}