main{
    max-width: 1000px;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 0px;
    box-shadow: 0 0 30px black;
}
p {
    padding:0px;
}
aside{
    background-color: #5900ff;
    border: 5px solid #00a6ff;
    padding: 10px;
    margin: 10px;
    width: 300px;
    color: #ffd700
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    border-top: 3px dotted darkblue;
    margin-top: 10px;
    text-align: center;
}