* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 50rem;
    margin: 10px;

}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 0px;
    box-shadow: 0 0 30px black;
    margin: 0px 0px 0px 10px;
}
.introduction {
    padding: 0px;
}
aside{
    position: relative;
    width: 25rem;
    border: 5px solid #00a6ff;
}
aside h2{
    position: absolute;
    bottom: 115px;
    left: 50px;
    color: #000;
    background-color: #00a6ff;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    border-top: 3px dotted darkblue;
    margin-top: 10px;
    text-align: center;
}
/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: black;
}