.callout {
	background-color: #224477;
    max-width: 400px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    padding: 15px;
    color: white;
}

.callout img {
    margin: 0 0 10px 10px;
    border: 1px solid black;
    background-color: gray;
    padding: 3px;
    width: 100px;
    height: auto;
    float: right;

}

blockquote {
    
   margin: 0;
    
}

cite {
	display: block;
    font-size: x-small;
    color: white;
    text-align: right;
    border-top: 1px dotted white;
}